.container {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
    width: 200px;
    margin: 50px;
}

.item {
    margin: 2em;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    counter-reset: section;
}

.title div::before {
    counter-increment: section;
    content: " ~" counter(section)": ";
}

.intersection {
    width: 200px;
    height: 200px;
}

h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}

#backgroundTaskCanvas {
    width: 300px;
    height: 400px;
    flex-grow: 3;
}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}